.tm-main-articles {
  height: 1210px !important; }

.tm-articles-path-name {
  padding-bottom: 23px !important; }

.tm-current-article-title {
  padding-bottom: 45px; }

.tm-current-articles-container {
  position: relative;
  width: 66% !important;
  margin: 0px;
  padding: 0px;
  padding-bottom: 35px; }

.tm-article-title {
  margin-bottom: 0px;
  padding-bottom: 11px; }

.tm-article-title p {
  margin: 0;
  padding: 0;
  height: 35px;
  overflow: hidden; }

.tm-article-main, .tm-article-main-part-container {
  width: 100%;
  padding: 0px;
  margin: 0px; }

.tm-article-main-part-container {
  height: 220px; }

.tm-article-title {
  width: 100%;
  margin-top: 10px;
  color: #1f262d;
  font-weight: lighter; }

.tm-article-posted-by {
  width: 100%;
  color: #5b5b5b;
  font-size: 18px;
  font-family: 'Colaborate-Thin';
  padding: 10px 0; }

.tm-article-image-container > img {
  padding: 0px;
  margin: 0px; }

.tm-article-img {
  width: 225px;
  height: 225px; }

.tm-article-content-container {
  margin: 0px;
  padding: 5px 0px 0px 23px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 220px;
  color: #8b8b8b;
  font-size: 12px;
  font-family: 'Droid Sans'; }

.tm-article-btn {
  padding: 0px 10px;
  height: 25px;
  width: 80px;
  margin-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 9px !important; }

.tm-article-btn > a {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Droid Sans'; }

.tm-pagination-container {
  padding-top: 6px;
  position: relative;
  width: 60%;
  height: auto;
  margin: 0px; }

.pagination {
  position: absolute;
  right: 0px; }

.tm-page-counter {
  display: inline-block;
  color: #5b5b5b;
  font-size: 18px;
  font-family: 'Colaborate-Thin';
  margin-right: 25px; }

.tm-pagination-btn {
  color: #000000;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  border-radius: 7px;
  height: 38px;
  width: 38px; }

.tm-active-page {
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  background: linear-gradient(to bottom, #323a43 0%, #1f262d 100%); }

@media all and (max-width: 1024px) {
  .tm-current-articles-container {
    width: 60% !important; }
  .tm-pagination-container {
    width: 60%; } }

@media all and (max-width: 770px) {
  .tm-main-articles {
    height: 1000px !important; }
  .tm-current-articles-container {
    width: 100% !important; } }

@media all and (max-width: 460px) {
  .tm-main-articles {
    height: 1250px  !important; }
  .tm-current-articles-container {
    width: 100%; }
  .tm-pagination-container {
    width: 100%; }
  .container .tm-article-main-part-container {
    display: block;
    width: 100%; }
  .tm-article-img {
    width: 100%;
    height: 110px; }
  .tm-article-title {
    text-align: center; }
  .tm-article-posted-by {
    text-align: center; }
  .tm-article-content-container {
    text-align: center;
    padding: 0px;
    width: 100%;
    height: 100px; }
  .tm-article-btn {
    padding: 0px 20px;
    height: 35px;
    width: 120px;
    margin-top: 20px;
    line-height: 2; }
  .tm-article-btn > a {
    font-size: 16px; } }
