/*HOME*/
.tm-home-main {
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../imgs/bg_main.png");
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0px 0px 9px 0px #080808,0px 0px 18px 0px #050505;
  -webkit-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505;
  -moz-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505;
  -o-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505; }

.tm-home-info {
  width: 100%;
  padding: 0 6%;
  margin-top: 8%; }

.tm-home-info ul li {
  position: relative;
  list-style: none; }

.tm-home-section-h6 {
  font-size: 24px;
  font-family: Colaborate-Thin; }

.tm-home-section-p {
  font-size: 12px;
  margin-left: 45px; }

.tm-home-section-button {
  float: right;
  margin-top: 10px;
  padding: 4.5px 15px;
  border: 1px solid #ffffff;
  border-top: none;
  border-radius: 10px;
  text-decoration: none;
  color: #1c2329;
  background: #fdfdfd;
  background: linear-gradient(to bottom, #fdfdfd 0%, #efefef 100%); }

.tm-home-section-button:hover {
  text-decoration: underline; }

/*Recent work*/
.tm-home-recent-work {
  width: 100%;
  height: auto;
  padding: 0 6%;
  margin: 100px 0 80px 0; }

.tm-home-recent-work-container {
  padding: 0px;
  flex: 1 1 calc(20%); }

.tm-home-recent-work-img {
  width: 140px;
  height: 95px;
  border: 1px solid #dadada;
  display: block;
  position: relative;
  list-style: none;
  padding: 6px;
  background-color: #ffffff;
  margin: 10px 10px 10px 0; }

@media all and (max-width: 1024px) {
  body {
    font-size: 100%; } }

@media all and (max-width: 640px) {
  body {
    font-size: 95%; }
  .tm-home-info {
    width: 100%;
    padding: 0 5%;
    margin-top: 8%; }
  .tm-home-info-ul {
    display: block;
    margin: 0;
    padding: 0; }
  .tm-home-info-ul li {
    margin-bottom: 45px;
    text-align: justify; }
  .tm-home-section-button {
    padding: 8px 20px;
    font-size: 16px; } }
