html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #ffffff;
  background-color: #11161c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: row;
  font-family: sans-serif; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.tm-hbox {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.tm-hbox-wrap {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between; }

.tm-vbox {
  display: flex;
  flex-direction: column; }

.tm-flex {
  flex: 1 1 auto; }

.tm-hidden {
  display: none; }

.tm-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.container:hover .tm-middle {
  opacity: 1; }

.tm-Colaborate-30px {
  font-size: 30px;
  font-family: 'Colaborate-Regular'; }

#wrapper {
  width: 100%;
  height: auto;
  background-image: url("../imgs/bg_common.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000; }

.tm-loading {
  color: #ffffff; }

.tm-link-btn {
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.05s ease-in-out; }
  .tm-link-btn:hover {
    font-family: "Georgia";
    color: #8d96a0;
    font-style: italic; }

.tm-grey {
  color: #8d96a0; }

.header {
  display: block;
  background-color: inherit;
  margin: 0 6%;
  padding-top: 50px; }

.navbar-default {
  background-color: inherit; }

.navbar-brand {
  padding-left: 15px;
  margin-bottom: 30px; }
  .navbar-brand .tm-envisioned {
    font-size: 36px;
    font-family: "BlackJackRegular";
    color: #ffffff;
    line-height: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.004);
    position: relative;
    display: block; }

.navbar-default, .container-fluid {
  margin: 0px;
  padding: 0px;
  width: 100%; }

.navbar-header {
  border-radius: 10px;
  background: linear-gradient(to bottom, #3e4852 0%, #323b44 100%);
  border-top: 1px solid #4f5861;
  height: 50px;
  width: 100%;
  padding: 0 23px 0 23px;
  position: relative;
  z-index: 4; }
  .navbar-header .tm-nav {
    padding: 0;
    height: 100%;
    list-style-type: none;
    position: relative; }
    .navbar-header .tm-nav .tm-nav-item {
      line-height: 3;
      font-size: 12px;
      padding: 0.5em 1em 0 0;
      font-family: sans-serif;
      font-weight: normal;
      font-style: normal; }
      .navbar-header .tm-nav .tm-nav-item .tm-nav-link {
        margin-bottom: 0;
        text-shadow: 1px 1px 2px #000000;
        text-decoration: none; }
        .navbar-header .tm-nav .tm-nav-item .tm-nav-link:hover {
          text-shadow: 1px 1px 2px #000000; }
    .navbar-header .tm-nav .tm-align-right {
      position: absolute;
      right: 0px;
      padding-right: 0px; }

.tm-responsive-nav {
  width: 33px;
  height: 33px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: linear-gradient(to bottom, #212730 0%, transparent);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5); }
  .tm-responsive-nav:hover {
    transition: .3s ease;
    opacity: 0.5; }

.glyphicon-align-justify {
  color: #ffffff; }

.tm-nav-notresponsive-item {
  margin-right: 7px; }

.tm-nav-dropdown {
  position: absolute;
  float: none;
  top: 100%;
  z-index: 3; }

.tm-nav-dropdown-list {
  list-style: none;
  padding: 0;
  width: 220px;
  background-color: #323b44;
  border-left: 1px solid #4f5861;
  border-radius: 0 0 10px 10px; }
  .tm-nav-dropdown-list .tm-nav-dropdown-list-item {
    padding: 0.5em 0 0.5 0;
    padding: 5px 10px; }
    .tm-nav-dropdown-list .tm-nav-dropdown-list-item .tm-nav-dropdown-list-item-link {
      font-family: sans-serif;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 1px 1px 2px #000000;
      transition: all 0.05s ease-in-out; }
    .tm-nav-dropdown-list .tm-nav-dropdown-list-item:hover {
      background: linear-gradient(to bottom, #212730 0%, transparent 70%);
      border-bottom: 1px solid #212730; }
      .tm-nav-dropdown-list .tm-nav-dropdown-list-item:hover .tm-nav-dropdown-list-item-link {
        font-family: "Georgia";
        color: #8d96a0;
        font-style: italic; }

.tm-is-active {
  font-family: "Georgia";
  color: #8d96a0 !important;
  font-style: italic;
  text-shadow: 1px 1px 2px #000000; }

/*Main*/
main, #main {
  margin: 0px;
  padding: 0px; }

.tm-img-container {
  border: 1px solid #dadada;
  position: relative;
  padding: 5px;
  background-color: #ffffff; }

.tm-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none; }

.container:hover .tm-img-lower-opacity {
  opacity: 0.5;
  transition: .5s ease; }

.tm-no-image {
  width: 100%;
  height: 100%;
  box-shadow: inset 7px 7px 9px -7px rgba(0, 0, 0, 0.8);
  background-color: #25575e;
  background-color: transparent;
  border: 1px solid #ffffff;
  z-index: 6; }

.tm-img-shadow-container {
  position: relative;
  width: 100%;
  height: 100%; }

.tm-img-shadow {
  background-color: transparent;
  z-index: 6;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-shadow: inset 7px 7px 9px -7px rgba(0, 0, 0, 0.8); }

.tm-gradient-grey-color {
  border-width: 1px;
  border-style: solid;
  -webkit-border-bottom-image: -webkit-gradient(linear, 100% 0, 0 0, from(#e1e1e1), to(grey)) 1 1 100% 1;
  -webkit-border-image: -webkit-linear-gradient(right, transparent, #cdcdcd 3%, transparent 60%) 1 1 100% 1;
  -moz-border-image: -moz-linear-gradient(right, transparent, #cdcdcd 3%, transparent 60%) 1 1 100% 1;
  -o-border-image: -o-linear-gradient(right, transparent, #cdcdcd 3%, transparent 60%) 1 1 100% 1;
  border-image: linear-gradient(to right, transparent, #cdcdcd 3%, transparent 60%) 0 0 100% 0; }

.tm-gradient-white-color {
  border-width: 1px;
  border-style: solid;
  -webkit-border-bottom-image: -webkit-gradient(linear, 100% 0, 0 0, from(#fff), to(grey)) 100% 0 0 0;
  -webkit-border-image: -webkit-linear-gradient(right, transparent, #fff 3%, transparent 60%) 100% 0 0 0;
  -moz-border-image: -moz-linear-gradient(right, transparent, #fff 3%, transparent 60%) 100% 0 0 0;
  -o-border-image: -o-linear-gradient(right, transparent, #fff 3%, transparent 60%) 100% 0 0 0;
  border-image: linear-gradient(to right, transparent, #fff 3%, transparent 60%) 100% 0 0 0; }

.tm-gradient-grey-color-left {
  border-width: 1px;
  border-style: solid;
  -webkit-border-bottom-image: -webkit-gradient(linear, 100% 0, 0 0, from(#e1e1e1), to(grey)) 1 1 100% 1;
  -webkit-border-image: -webkit-linear-gradient(left, transparent, #cdcdcd 3%, transparent 90%) 1 1 100% 1;
  -moz-border-image: -moz-linear-gradient(left, transparent, #cdcdcd 3%, transparent 90%) 1 1 100% 1;
  -o-border-image: -o-linear-gradient(left, transparent, #cdcdcd 3%, transparent 90%) 1 1 100% 1;
  border-image: linear-gradient(to left, transparent, #cdcdcd 3%, transparent 90%) 0 0 100% 0; }

.tm-gradient-white-color-left {
  border-width: 1px;
  border-style: solid;
  -webkit-border-bottom-image: -webkit-gradient(linear, 100% 0, 0 0, from(#fff), to(grey)) 100% 0 0 0;
  -webkit-border-image: -webkit-linear-gradient(left, transparent, #fff 3%, transparent 90%) 100% 0 0 0;
  -moz-border-image: -moz-linear-gradient(left, transparent, #fff 3%, transparent 90%) 100% 0 0 0;
  -o-border-image: -o-linear-gradient(left, transparent, #fff 3%, transparent 90%) 100% 0 0 0;
  border-image: linear-gradient(to left, transparent, #fff 3%, transparent 90%) 100% 0 0 0; }

.tm-footer {
  display: block;
  bottom: 0px;
  width: 100%;
  background-image: url("../imgs/bg_section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white; }
  .tm-footer h6 {
    font-size: 24px;
    font-family: Colaborate-Thin; }
  .tm-footer p, .tm-footer ul {
    font-size: 12px;
    font-family: "Droid Sans"; }

.tm-footer-articles {
  width: 100%;
  padding: 5% 6%;
  height: 28%;
  justify-content: space-between; }

.tm-footer-section {
  width: 33%;
  flex-grow: 1;
  flex: 1 1 calc(30%);
  overflow: visible; }

.tm-footer-section .tm-footer-section-ul {
  line-height: 1.67em; }

.tm-footer-section .tm-footer-section-h6 {
  margin: 0;
  padding-bottom: 7px; }

.tm-footer-section-p {
  width: 270px;
  overflow: hidden; }

.tm-footer-section .tm-footer-section-ul li {
  width: 100%;
  margin-bottom: 0.42em; }

.tm-footer-section-ul {
  padding-left: 15px; }

.tm_footer_section_copyright {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0px;
  height: 2.5em;
  padding: 0 6%;
  position: relative; }

.tm-footer-section-link {
  font-size: 12px;
  line-height: 2.5;
  text-decoration: none !important;
  display: block;
  margin-right: 15px;
  float: left;
  order: 1; }

.tm-footer-section-tm {
  right: 0px;
  line-height: 2.5;
  font-size: 12px;
  text-align: right;
  float: right; }

/*MAIN*/
.tm-main-header {
  width: 100%;
  height: 108px;
  padding: 56px 6% 10px 6%;
  color: #ffffff;
  font-size: 1.8em;
  font-family: 'Colaborate-Regular';
  text-shadow: 1px 1px 2px #000000;
  display: table; }

.tm-main-header-content {
  display: table-cell;
  vertical-align: bottom; }

.tm-main {
  width: 100%;
  height: auto;
  background-image: url("../imgs/bg_main.png");
  padding: 0 6%;
  margin: 0px;
  position: relative;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0px 0px 9px 0px #080808,0px 0px 18px 0px #050505;
  -webkit-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505;
  -moz-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505;
  -o-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505; }

.container-fluid {
  height: auto; }

.tm-main-path-name {
  font-size: 12px;
  font-family: "Droid Sans";
  padding: 25px 0 30px 0; }

@media all and (max-width: 1024px) {
  body {
    font-size: 100%; }
  .tm-footer-section-h6, .tm-footer-section-p {
    width: 90%;
    text-align: justify; } }

@media all and (max-width: 760px) {
  body {
    font-size: 95%; }
  .tm-nav-notresponsive-item {
    display: none; }
  .tm-responsive-nav-item {
    display: block; }
  .navbar-brand .tm-envisioned {
    font-size: 35px; }
  .header {
    margin: 0 -2% 0 5%; }
  .navbar-brand {
    padding-left: 0; }
  .tm-footer-articles {
    width: 100%;
    padding: 0;
    display: block; }
  .tm-footer-section {
    width: 100%;
    padding: 3%;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .tm-footer-section-h6, .tm-footer-section-p {
    text-align: justify; }
  .tm-footer-section-p {
    width: 100%;
    font-size: 16px; }
  .tm_footer_section_copyright {
    width: 100%;
    padding: 3%; } }

@media all and (max-width: 480px) {
  body {
    font-size: 87.5%; }
  .tm-nav-notresponsive-item {
    display: none; }
  .tm-responsive-nav-item {
    display: block; }
  .navbar-brand .tm-envisioned {
    font-size: 25px;
    text-align: justify; } }
