html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #222222;
  background-color: #11161c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: row;
  font-family: sans-serif; }

.tm-hbox {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.tm-vbox {
  display: flex;
  flex-direction: column; }

.tm-flex {
  flex: 1 1 auto; }

#wrapper {
  width: 100%;
  height: auto;
  background-image: url("../imgs/bg_common.png");
  background-size: cover;
  background-repeat: no-repeat; }

.tm-link-btn {
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.05s ease-in-out; }
  .tm-link-btn:hover {
    font-family: "Georgia";
    color: #8d96a0;
    font-style: italic; }

.tm-grey {
  color: #8d96a0; }

.header {
  display: block;
  background-color: inherit;
  margin: 0 15% 0 15%;
  padding-top: 65px; }

.navbar-default {
  background-color: inherit; }

.navbar-brand {
  margin-bottom: 35px; }
  .navbar-brand .tm-envisioned {
    margin-left: 13px;
    font-size: 36px;
    font-family: "BlackJackRegular";
    color: white;
    line-height: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.004);
    position: relative;
    z-index: 2;
    display: block; }

.navbar-default, .container-fluid {
  margin: 0px;
  padding: 0px;
  width: 100%; }

.navbar-header {
  border-radius: 10px;
  background: linear-gradient(to bottom, #3e4852 0%, #323b44 100%);
  border-top: 1px solid #4f5861;
  height: 50px;
  width: 100%;
  padding: 0 23px 0 23px;
  position: relative;
  z-index: 4; }
  .navbar-header .tm-nav {
    padding: 0;
    height: 100%;
    list-style-type: none; }
    .navbar-header .tm-nav .tm-nav-item {
      line-height: 3;
      font-size: 12px;
      padding: 0.5em 1em 0 0;
      font-family: sans-serif;
      font-weight: normal;
      font-style: normal; }
      .navbar-header .tm-nav .tm-nav-item .tm-nav-link {
        margin-bottom: 0;
        text-shadow: 1px 1px 2px #000000;
        text-decoration: none; }
        .navbar-header .tm-nav .tm-nav-item .tm-nav-link:hover {
          text-shadow: 1px 1px 2px #000000; }

.tm-is-active {
  font-family: "Georgia";
  color: #8d96a0 !important;
  font-style: italic;
  text-shadow: 1px 1px 2px #000000; }

.tm-nav-dropdown {
  display: none;
  position: absolute;
  float: none;
  top: 100%;
  z-index: 3; }

.tm-nav-dropdown--show {
  top: 100%;
  position: absolute;
  display: block; }

.tm-nav-dropdown-list {
  list-style: none;
  padding: 0;
  width: 220px;
  background-color: #323b44;
  border-left: 1px solid #4f5861;
  border-radius: 0 0 10px 10px; }
  .tm-nav-dropdown-list .tm-nav-dropdown-list-item {
    padding: 0.5em 0 0.5 0;
    padding: 10px 0 10px 35px; }
    .tm-nav-dropdown-list .tm-nav-dropdown-list-item .tm-nav-dropdown-list-item-link {
      font-family: sans-serif;
      padding-right: 15px;
      text-decoration: none;
      color: #ffffff;
      text-shadow: 1px 1px 2px #000000;
      transition: all 0.05s ease-in-out; }
      .tm-nav-dropdown-list .tm-nav-dropdown-list-item .tm-nav-dropdown-list-item-link:hover {
        font-family: "Georgia";
        color: #8d96a0;
        font-style: italic; }

/*Main*/
main, #main {
  margin: 0px;
  padding: 0px; }

.tm-footer {
  display: block;
  bottom: 0px;
  width: 100%;
  background-image: url("../imgs/bg_section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "top";
  color: white; }
  .tm-footer h6 {
    font-size: 16px; }
  .tm-footer p, .tm-footer ul {
    font-size: 9px; }

.tm-footer-articles {
  padding: 0 15% 0 15%; }

.tm-footer-section {
  width: 15em;
  flex-grow: 1;
  overflow: visible; }

.tm-footer-section .tm-footer-section-ul {
  line-height: 1.67em; }

.tm-footer-section .tm-footer-section-h6 {
  margin-bottom: 0.75em; }

.tm-footer-section .tm-footer-section-ul li {
  margin-bottom: 0.42em; }

.tm_footer_section_copyright {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0px;
  height: 2.5em;
  padding: 0 15% 0 15%; }

.tm-footer-section-link {
  font-size: 9px;
  line-height: 4;
  text-decoration: none !important;
  display: block;
  margin-right: 5px;
  order: 1; }

.tm-footer-section-tm {
  line-height: 4;
  font-size: 8px;
  text-align: right; }

/*MAIN*/
