.tm-main-quote-container {
  margin-top: 55px;
  margin-bottom: 115px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  background: linear-gradient(to bottom, #fefefe 0%, #f4f4f4 50%); }

.tm-quote {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 160px; }

.tm-quote-body {
  font-size: 30px;
  font-family: Colaborate-Thin;
  text-align: center; }

.tm-icon {
  position: absolute;
  left: 50%;
  top: -15px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 28px;
  height: 28px;
  line-height: 1.3;
  color: #ffffff;
  background-color: #d2d2d2;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  font-family: 'Georgia', sans-serif;
  font-size: 2.4em; }

.tm-quote-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: -22px;
  display: inline-block;
  padding: 12px 0;
  width: 170px;
  height: 45px;
  line-height: 0.7;
  text-decoration: none;
  font-family: Colaborate-Thin;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  background: #323a43;
  background: linear-gradient(to bottom, #323a43 0%, #1f262d 100%); }

.tm-quote-button:hover {
  color: #ffffff;
  text-decoration: underline; }

@media all and (max-width: 1020px) {
  .tm-quote {
    width: 100%;
    margin: 0; } }

@media all and (max-width: 960px) {
  .tm-main-quote-container {
    margin-top: 80px !important;
    margin: 0; }
  .tm-quote {
    height: 120px; } }
