.tm-main-header {
  width: 100%;
  height: 6.88em;
  padding: 0 15% 0 15%;
  color: #ffffff;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px #000000;
  display: table; }

.tm-main-header-content {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 20px; }

.tm-main {
  width: 100%;
  height: 1230px;
  background-image: url("../imgs/bg_main.png");
  padding: 0 15% 0 15%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  box-shadow: inset 0px 0px 9px 0px #080808,0px 0px 18px 0px #050505;
  -webkit-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505;
  -moz-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505;
  -o-box-shadow: inset 0px 0px 9px 0px #080808,-2px -1px 18px 1px #050505; }
