.tm-single-article-content-container {
  margin: 0px;
  padding: 5px 0px 0px 23px;
  width: 60%;
  color: #8b8b8b;
  font-size: 12px;
  font-family: 'Droid Sans';
  height: auto; }

.tm-comments-container {
  width: 73%;
  margin: 0px;
  padding: 0px; }

.tm-comments-counter {
  width: 100%;
  position: relative;
  padding: 90px 0 8px 0;
  margin: 0px; }

.tm-comment-dialog-container {
  width: 100%;
  padding: 30px 0 0 5px; }

.tm-comment-img-date-container {
  position: relative; }

.tm-comment-img {
  width: 65px;
  height: 65px; }

.tm-comment-date {
  padding-top: 12px;
  font-size: 11px;
  font-family: 'Droid Sans';
  color: #838383;
  text-align: right; }

.tm-dialog-container {
  padding: 0 75px 0 15px; }

.tm-dialog {
  margin: 0px;
  position: relative;
  height: 200px;
  background: linear-gradient(to bottom, #fefefe 0%, #f4f4f4 50%);
  min-height: auto;
  border: 1px solid #c5c5c5;
  border-radius: 7px;
  padding: 30px; }

.tm-top-bot {
  position: absolute;
  left: -20px;
  top: 24px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #c5c5c5 transparent transparent; }

.tm-top-bot-border {
  left: -18px;
  border-color: transparent #fff transparent transparent; }

.tm-dialog-content {
  margin: 0px;
  position: relative;
  height: auto; }

.tm-comment-author {
  display: block;
  font-size: 24px;
  font-family: 'Colaborate-Regular';
  color: #1f262d; }

.tm-comment-content {
  font-size: 12px;
  font-family: 'Droid Sans';
  color: #5e5e5e;
  display: block; }

.tm-comment-btn {
  display: block;
  font-size: 12px;
  font-family: 'Droid Sans';
  position: relative;
  margin-left: auto;
  margin-right: 0; }

.tm-leave-a-comment-container {
  width: 100%;
  padding: 30px 0 192px 0; }

.tm-comments-label {
  margin: 0px;
  width: 100%;
  font-size: 30px;
  font-family: 'Colaborate-Thin';
  padding-bottom: 7px;
  position: relative; }

.tm-comments-btn-container {
  width: 100%;
  height: auto; }

.tm-comments-input {
  width: 100%;
  border: none;
  background: transparent; }

.tm-comments-toggle-btn {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent; }

@media all and (max-width: 1024px) {
  .tm-comments-container {
    width: 80%; }
  .tm-single-article-content-container {
    overflow-y: auto; }
  .tm-dialog {
    height: 100px;
    overflow: hidden;
    overflow-y: auto; } }

@media all and (max-width: 770px) {
  .tm-comments-container {
    width: 100%; }
  .tm-dialog-container {
    padding-right: 0px; }
  .tm-single-article-content-container {
    overflow-y: auto; } }

@media all and (max-width: 460px) {
  .tm-single-article-content-container {
    text-align: center;
    padding: 0px;
    width: 100%;
    overflow-y: auto;
    height: 200px;
    text-align: justify; } }
