<div class="container-fluid tm-main-header">
<p class="tm-main-header-content">Articles</p>
</div>
<div class="container-fluid tm-main">
    <div class="tm-main-path-name"><span class="tm-grey">Home >></span> Articles</div>
    <div class="tm-aside-container">
            <aside class="tm-aside ml-auto">
                <h5 class="tm-aside-heading">Recent Posts</h5>
                <div class="tm-aside-body">
                            Rhoncus quis, varius sed velit. 
                    Mauris quis nunc eu nunc molestie 
                    egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed 
                    pharetra sem feugiat. Vivamus ut 
                    cursus augue. Integer sit amet arcu 
                    lorem, at egestas tellus. Phasellus 
                    tellus orci, congue at tristique at, 
                    mattis ut arcu. Donec dictum eros eu 
                    felis laoreet egestas. Nullam adipiscing 
                    nibh id felis lacinia a iaculis nisi 
                    vestibulum. Ut sit amet urna enim, 
                    at accumsan quam. Nunc dui elit, 
                    hendrerit quis convallis sit amet,
                </div>
            </aside>
            <aside class="tm-aside">
                <h5 class="tm-aside-heading">Recent Posts</h5>
                <div class="tm-aside-body">
                            Rhoncus quis, varius sed velit. 
                    Mauris quis nunc eu nunc molestie 
                    egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed 
                    pharetra sem feugiat. Vivamus ut 
                    cursus augue. Integer sit amet arcu 
                    lorem, at egestas tellus. Phasellus 
                    tellus orci, congue at tristique at, 
                    mattis ut arcu. Donec dictum eros eu 
                    felis laoreet egestas. Nullam adipiscing 
                    nibh id felis lacinia a iaculis nisi 
                    vestibulum. Ut sit amet urna enim, 
                    at accumsan quam. Nunc dui elit, 
                    hendrerit quis convallis sit amet,
                </div>
            </aside>
        </div>
        <div class="container">
            <ul class="pagination">
                Page {{this.activePage}} of {{this.pageCount}}
                {{#each this.pageIndex}}
                <li><button>{{this}}</button></li>
                {{/each}}
            </ul>
        </div>
</div>