<div class="carrousel__container">
    <div class="carrousel">
        <div class="carrousel__image--active">
            <img src={{this.[1].imageURL}} class="carrousel__image--center">
            <div class="carrousel__image--active__overlay"></div>
            <div class="carrousel__arrow carrousel__arrow--left glyphicon glyphicon-chevron-left"></div>
            <div class="carrousel__icon__container">
                <div class="carrousel__icon carrousel__icon--media"></div>
                <a class="carrousel__icon carrousel__icon--open glyphicon glyphicon-zoom-in"></a>
            </div>
                <div class="carrousel__title__overlay">
                    <h4 class="carrousel__title">{{this.[1].title}}</h4>
                </div>
            <div class="carrousel__arrow carrousel__arrow--right glyphicon glyphicon-chevron-right"></div>
        </div>
        <div class="carrousel__image__container">
            {{#each this}}
            <div class="carrousel__image"><img src={{this.imageURL}}></div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container-fluid tm-home-main ">
    <section  class = "tm-home-info">
        <ul class = "tm-hbox">
            <li>
                <div class = "tm-home-section-h6">
                <img src="./styles/imgs/services.png" alt="">
                What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
            <li>
                <div class = "tm-home-section-h6">
                <img src="./styles/imgs/dialog.png" alt="">
                What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
            <li>
                <div class = "tm-home-section-h6">
               <img src="./styles/imgs/melody.png" alt="">
                 What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
        </ul>
    </section>

    <section class="main__quote__container quote__container">
        <div class="quote">
            <div class="quote__icon">&ldquo;</div>
            <h6 class="quote__body">About us</h6>
            <a href="#/about" class="quote__button">Additional Info</a>
        </div>
    </section>


    <section class="tm-home-recent-work">
        <ul class="tm-hbox">
            <li class="tm-home-recent-work-item">
                <div class="tm-no-image"></div>
                <img class="tm-home-recent-work-image" src="" alt="">
            </li>
        </ul>
    </section>

</div>


