<div class="tm-carrousel-container">
    <div class="tm-carrousel">
        <div class=" tm-carousel-shadow tm-carrousel-image-active ">
            <img src={{this.[0].imageURL}} class="tm-carrousel-image-center">
            <div class="tm-carrousel-image-active-overlay"></div>
            <div class="tm-carrousel-arrow tm-carrousel-arrow-left glyphicon glyphicon-chevron-left"></div>
            <div class="tm-carrousel-icon-container">
                <div class="tm-carrousel-icon tm-carrousel-icon-media"></div>
                <a class="tm-carrousel-icon tm-carrousel-icon-open glyphicon glyphicon-zoom-in"></a>
            </div>
                <div class="tm-carrousel-title-overlay">
                    <h4 class="tm-carrousel-title">{{this.[0].title}}</h4>
                </div>
            <div class="tm-carrousel-arrow tm-carrousel-arrow-right glyphicon glyphicon-chevron-right"></div>
        </div>
        <div class="tm-carrousel-image-container">
            {{#each this}}
            <div class="tm-carrousel-image"><img src={{this.imageURL}}></div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container-fluid tm-home-main ">
    <section  class = "tm-home-info">
        <ul class = "tm-hbox">
            <li>
                <div class = "tm-home-section-h6">
                <img src="./styles/imgs/services.png" alt="">
                What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
            <li>
                <div class = "tm-home-section-h6">
                <img src="./styles/imgs/dialog.png" alt="">
                What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
            <li>
                <div class = "tm-home-section-h6">
               <img src="./styles/imgs/melody.png" alt="">
                 What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
        </ul>
    </section>

    <section class="main__quote__container quote__container">
        <div class="quote">
            <div class="quote__icon">&ldquo;</div>
            <h6 class="quote__body">About us</h6>
            <a href="#/about" class="quote__button">Additional Info</a>
        </div>
    </section>


    <section class="tm-home-recent-work">
        <ul class="tm-hbox">
            <li class="tm-home-recent-work-item">
                <div class="tm-no-image">
                <img class="tm-home-recent-work-image" src="" alt="">
                </div>
            </li>
        </ul>
    </section>

</div>


