

.tm-aside-container{
    height: auto;
    position: absolute;
    right: 14.5%;
}
.tm-aside {
    overflow: hidden;
    width: 270px;
    position: relative;
    margin-bottom: 25px;
}

.tm-aside-body-post {
    max-height: 200px;
    overflow: hidden;
    
}
.tm-aside-body-links {
    max-height: 290px;
    overflow: hidden;
}

.tm-aside-heading {
    font-size: 24px;
    margin-left: 2%;
    font-family: "Colaborate-Thin";
}

.tm-aside-body {
    height: 100%;
    font-size: 12px;
    font-family: "Droid Sans";
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 60%);
 }

 .tm-aside-body-post p {
     height:140px;
     overflow:hidden;   
 }

 .tm-aside-body-post p a {
    color:#5e5e5e;
}
 .tm-aside-body-links ul {
    height:230px;
    overflow:hidden;
    padding:15px;
    color:#5e5e5e;
}

.tm-aside-body-links ul li a {
    margin-bottom: 20px;
    color:#5e5e5e;
}

.tm-aside-comments {
    height:auto
}

.tm-aside-comments ul {
    padding: 0 0 0 15px;
    height:auto
}
.tm-aside-comments ul li {
    height:auto;
    color:#5e5e5e;
}


@media all and (max-width: 1024px) {
    .tm-aside {
        max-width: 180px;
    }
}

@media all and (max-width: 768px) {
    .tm-aside {
        margin: 0 10px;
        display:none;
    }
}



