



.tm-login-control {
    margin: 50px 0;
    width:80%;
    padding: 5px;
}

.btn-primary {
    font-family: 'Colaborate', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #323a43;
    background: linear-gradient(to bottom, #323a43 0%, #1f262d 100%); 
}
.tm-redirect-to {
    line-height: 2.5;
}



@media all and (max-width: 770px) {
    .tm-login-control {
        margin: 50px 0;
        width:100%;
    }
}