.tm-services-container {
    margin-top:5px;
}
.tm-servise-container{
    margin:0 0 30px 0;
    padding: 0px;
    flex: 1 1 calc(50%); 
}
.tm-service-title {
    font-size: 24px;
    font-family:'Colaborate-Thin';
}

.tm-service-img{
    margin:0px;
    width:440px;
    height: 294px;
    border:1px solid #dadada;
    display: block;
    position: relative;
    list-style: none;
    padding: 6px;
    background-color: #ffffff;
}

.tm-services-img {
margin-bottom:10px !important;
}


.tm-service-description {
    font-size: 12px;
    color: #838383;
    font-family:'Droid Sans';
    width: 436px;
}



@media all and (max-width: 1200px) {
    .tm-service-img{
        width:270px;
        height: 180px;
    }
    .tm-servise-container{
        padding: 0px;
        flex: 1 1 calc(33%); 
    }
    .tm-service-description {
        width: 270px;
    }
}

@media all and (max-width: 800px) {
    .tm-service-img{
        width:150px;
        height: 105px;
        margin:0 auto;
    }
    .tm-service-title{
        display: none;
    }
    .tm-service-description {
        display: none;
    }
    .tm-servise-container{
        padding: 0px;
        display:block;
        margin-bottom:15px; 
    }
}

  