.tm-main-single-service {
    height: 700px;
}

.tm-current-service-container {
        position: relative;
        // width: 60%;
        width:70%;
        margin:0px;
        padding: 0px;
        padding-bottom: 35px;
}

.tm-service-img {
    margin-bottom:20px;
}

@media all and (max-width: 1000px) {
    .tm-main-single-service {
        height: 950px;
    }
    
}

@media all and (max-width: 768px) {
    .tm-main-single-service {
        height: 650px;
    }
    .tm-current-service-container {
        width: 100%;
    }
    .tm-service-content-container {
        height: auto;
    }
}

@media all and (max-width: 460px) {
    .tm-main-single-service {
        height: 950px;
    }
    .tm-current-service-container {
        width: 100%;
    }
    .tm-service-content-container {
        height: auto;
    }
}

